# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../../:\Users\amirr\Documents\Life\Bachelor's_period\Courses\Algorithm_Design\TA\3992\Projects\P1\House_elves\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
